<div>
    <h3>Login to Project Titane</h3>

    <form>
        <label for=".login__name">Username</label>
        <input type="text" class="login__name form-control"/>
        <br/>
        <label for= '.login__password'>Password</label>
        <input type="password" class="login__password form-control">
        <button type="submit" class="btn__login btn-secondary" value="submit">Log In </button>

    </form>
</div>
